@import "components/home";
@import "components/errorLog";
@import "components/logIn";
@import "components/tableOrder";
@import "components/order";
@import "components/ordersStatus";
@import "components/AdminEmployees";
@import "components/productsListSupply";
@import "components/navBar";
@import "components/dropdown";
@import "components/kitchen";

@mixin basicConfig {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

*{
    @include basicConfig()
}
.home{
    background-image: url('https://s1.1zoom.me/big0/451/Hamburger_Tomatoes_French_fries_Knife_Black_576869_1280x853.jpg');
    background-size: cover;
    height: 110vh;
}


.logIn{
    background-image: url('https://s1.1zoom.me/b5050/466/Hamburger_French_fries_Vegetables_Black_background_540048_3840x2400.jpg');
    background-size: cover;
    height: 110vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
}

.Modal{
   padding: 2%; 
    text-align: center;

    .fa-window-close{
       float: right;
    }
   h3{
       font-size: 1.4em;
       margin-top: 8%;
       margin-bottom: 1%;
   }
   p{
    font-size: 1.2em;
    color: rgb(133, 133, 133);
   }

   button{
       padding: 1.0em ;
       margin-top: 3%;
       margin-left: 4%;
       font-size: 18px;
       border: none;
       border-radius: 15px;
   }

   .btnDelete{
       background-color: rgba(233, 47, 72, 1); ;
       color: white;
   }
   
   .cancel {
    background-color: rgb(133, 133, 133);
    color: white;
    }
}